@page "/Creator"

<html>

    <head>
        <title> Creator </title>
    </head>

    <body>
        <h1>KYK</h1>
        @DateTime.Now.ToShortTimeString();
        @{
            var message = "Welcome...";
        }

    <h3>@message</h3>

    </body>
</html>